<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="baidu-site-verification" content="Eg92n5CR4G" />

  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }}</title>
  <!-- favicon -->
  {% capture favicon_folder %}{{ "static/img/favicon" | prepend: site.baseurl }}{% endcapture %}

  <link rel="shortcut icon" href="{{ "/favicon.ico" type="image/x-icon" | prepend: favicon_folder }}">
  <link rel="icon" href="{{ "/favicon.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="57x57" href="{{ "/favicon-32x32.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="57x57" href="{{ "/favicon-57x57.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="72x72" href="{{ "/favicon-72x72.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="76x76" href="{{ "/favicon-76x76.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="114x114" href="{{ "/favicon-114x114.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="120x120" href="{{ "/favicon-120x120.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="144x144" href="{{ "/favicon-144x144.png" | prepend: favicon_folder }}">
  <link rel="icon" sizes="152x152" href="{{ "/favicon-152x152.png" | prepend: favicon_folder }}">

  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="{{ "/favicon-144x144.png" | prepend: favicon_folder }}">
  <meta name="application-name" content="Website Title">

  <!-- Third-party CSS -->
  <link href="{{"bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/animate.css/animate.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/components-font-awesome/css/font-awesome.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/font-mfizz/font-mfizz.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/toastr/toastr.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/jquery.gritter/css/jquery.gritter.css"| prepend: site.baseurl }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{"static/css/pygments.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/css/style.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/css/custom.css"| prepend: site.baseurl }}" rel="stylesheet">

  <!-- Third-party scripts -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script src="{{"bower_components/jquery/dist/jquery.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/bootstrap/dist/js/bootstrap.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/i18next/i18next.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/PACE/pace.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/wow/dist/wow.min.js"| prepend: site.baseurl }}"></script>
  
  <!-- Custom and plugin javascript -->
  <!-- <script src="{{"static/js/inspinia.js"| prepend: site.baseurl }}"></script> -->

</head>